/* YOUR STYLES */

/* Header*/

body {
    background: lightblue;
    font-family: 'Open Sans', sans-serif;
    
    
}




.cd-header {
    background: #a10022;
    
    
    
}

.cd-header h1 {
    font-size: 5rem;
    font-weight: 700;
    
    
}

p {
    font-family: 'Oswald', sans-serif;
    
    
    
}

h3 {
font-family: 'Anton', sans-serif; 
font-size: 2.4rem;
font-weight: 300; 
    
    
    
    
    
    
}




.cd-tab-filter-wrapper {
    background-color: black;
    
    
    
    
    
}

.grid li.mix {

    
    
}


.list li.mix {
   width: 100%; 
    
    
    
}
.list li.mix p {
   visibility: hidden;
    
    
    
}


